// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.testimonial-with-horse {
  padding: 120px 0;
  background-image: url('/assets/parallax/horse-racing.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat:no-repeat;
  background-size:cover;
  color: #fff;
}

.hospitality-box {
  border: 1px solid #ccc;
  background: #fff;
  padding:40px 20px;
  margin:10px 0;
  position:relative;
}

.hospitality-box:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.hospitality-box .content {
  position:relative;
  z-index:100;
}

.hospitality-box h4 {
  padding:10px 0;
}

.hospitality-box .col-xs-3:first-child {
  border-right:1px solid #ccc;
}
