/* SOCIAL ICONS ON TOPBAR */

.facebook {color:#3b59ab;}
.youtube {color:#b31217;}
.twitter {color:#2b97f0;}
.instagram {color:#3f729b;}

.facebook-bg {
  background-color: #3b59ab;
}

.youtube-bg {
  background-color: #b31217;
}

.instagram-bg {
  background-color: #3f729b;
}

.twitter-bg {
  background-color: #2b97f0;
}

