<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Play Horse Farm</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">ASD</a></li>
        <li><a href="#">SRL</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Azienda agricola <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Servizio 1</a></li>
            <li><a href="#">Servizio 2</a></li>
            <li><a href="#">Servizio 3</a></li>
            <li class="divider"></li>
            <li><a href="#">Contattaci</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="http://lorempixel.com/1000/600/" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Titolone accattivante</h1>
              <p>Contenuto principale che l'utente vede quando carica la pagina. Presumibilmente un'informazione che riguardi l'intera azienda.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Pulsante</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="http://lorempixel.com/1000/599/" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Concorso settani del 18 Marzo</h1>
              <p>Qualsiasi tipo di informazione rilevante sull'ASD che potrà essere cambiata grazie ad un pannello di controllo.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Maggiori info</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="http://lorempixel.com/1000/601/" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Tempesta Sonante cerca una casa</h1>
              <p>Qualsiasi tipo di informazione rilevante sull'SRL che potrà essere cambiata grazie ad un pannello di controllo.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Maggiori info</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="fourth-slide" src="http://lorempixel.com/1000/602/" alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Dormi qua</h1>
              <p>Qualsiasi tipo di informazione rilevante sull'azienda agricola che potrà essere cambiata grazie ad un pannello di controllo.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Maggiori info</a></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Tutto all'interno di un container per centrare il contenuto -->

    <div class="container marketing">

      <!-- Servizi principali -->
      <div class="row services">
        <div class="col-lg-4">
          <i class="fa fa-cart-plus fa-4x"></i>
          <h2>Vendita</h2>
          <p>Import-Export e vendita cavalli, ostacoli, box e van. Scrivi qualcosa di accattivante (tipo vendiamo i migliori cavalli dell'universo conosciuto, qualcosa molto marketing insomma)</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="fa fa-flag-checkered fa-4x"></i>
          <h2>Concorsi</h2>
          <p>Vuoi far gareggiare il tuo cavallo? Noi organizziamo concorsi! (Non ho assolutamente idea di cosa scrivere, per il contenuto poi vediamo bene quando finiamo la struttura)</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="fa fa-hotel fa-4x"></i>
          <h2>Hospitality</h2>
          <p>Boh poi se vi va di dormire c'è sempre l'azienda agricola così tra un giorno e un altro non avete sbatta di andare in giro in alberghi con recensioni ambigue.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <!-- SEZIONI -->

      <!-- NEWS -->
      <div class="row featurette">
        <div class="col-md-6 news">
          <h2>News</h2>
          <hr>
          <div class="row newsblock">
            <div class="col-xs-4">
              <img class="img-responsive center-block" src="http://lorempixel.com/140/70" alt="news1">
            </div>
            <div class="col-xs-8">
              <p>13/05/2015</p>
              <h3>Notizia 1</h3>
            </div>
          </div>
          <hr>
          <div class="row newsblock">
            <div class="col-xs-4">
              <img class="img-responsive center-block" src="http://lorempixel.com/140/70" alt="news2">
            </div>
            <div class="col-xs-8">
              <p>13/05/2015</p>
              <h3>Notizia 2</h3>
            </div>
          </div>
          <hr>
          <div class="row newsblock">
            <div class="col-xs-4">
              <img class="img-responsive center-block" src="http://lorempixel.com/140/70" alt="news3">
            </div>
            <div class="col-xs-8">
              <p>13/05/2015</p>
              <h3>Notizia 3</h3>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        <!-- ALTRA SEZIONE -->
        <div class="col-md-5 news">
          <h2>Boh</h2>
          <hr>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/500/500/" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/500/500/" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

    <footer>
      <div class="container space">
        <p class="pull-right"><a href="#">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-angle-double-up fa-stack-1x"></i>
          </span>
        </a></p>
        <div class="row">
          <div class="col-xs-8">
            <p>&copy; 2015 Play Horse Farm &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            <hr>
            <ul>
              <li>ASD</li>
              <li>SRL</li>
              <li>Contattaci</li>
              <li>Non so</li>
            </ul>
          </div>
          <div class="col-xs-4"></div>
        </div>
      </div>
    </footer>
