<!-- Navbar and carousel inside the fixed container -->
<div class="container-fixed">
  <div class="prenav">
    <div class="container-fluid text-right">
      <ul>
        <li><i class="fa fa-facebook-square fa-lg"></i></li>
        <li><i class="fa fa-instagram fa-lg"></i></li>
        <li><i class="fa fa-youtube-square fa-lg"></i></li>
        <li><i class="fa fa-pinterest-square fa-lg"></i></li>
        <li><i class="fa fa-twitter-square fa-lg"></i></li>
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Play Horse Farm</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">ASD</a></li>
          <li><a href="#">SRL</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Azienda agricola <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Servizio 1</a></li>
              <li><a href="#">Servizio 2</a></li>
              <li><a href="#">Servizio 3</a></li>
              <li class="divider"></li>
              <li><a href="#">Contattaci</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="http://lorempixel.com/1000/600/" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Titolone accattivante</h1>
              <p>Contenuto principale che l'utente vede quando carica la pagina. Presumibilmente un'informazione che riguardi l'intera azienda.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Pulsante</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="http://lorempixel.com/1000/599/" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Concorso settani del 18 Marzo</h1>
              <p>Qualsiasi tipo di informazione rilevante sull'ASD che potrà essere cambiata grazie ad un pannello di controllo.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Maggiori info</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="http://lorempixel.com/1000/601/" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Tempesta Sonante cerca una casa</h1>
              <p>Qualsiasi tipo di informazione rilevante sull'SRL che potrà essere cambiata grazie ad un pannello di controllo.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Maggiori info</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="fourth-slide" src="http://lorempixel.com/1000/602/" alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Dormi qua</h1>
              <p>Qualsiasi tipo di informazione rilevante sull'azienda agricola che potrà essere cambiata grazie ad un pannello di controllo.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Maggiori info</a></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->
  </div> <!-- container-fixed -->

  <!-- placeholder to show the fixed stuff -->
  <div class="placeholder"></div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Tutto all'interno di un container per centrare il contenuto -->

  <div class="wrapper">
    <div class="container marketing">

      <!-- Servizi principali -->
      <div class="row services">
        <div class="col-lg-4">
          <i class="fa fa-cart-plus fa-4x"></i>
          <h2>Vendita</h2>
          <p>Import-Export e vendita cavalli, ostacoli, box e van. Scrivi qualcosa di accattivante (tipo vendiamo i migliori cavalli dell'universo conosciuto, qualcosa molto marketing insomma)</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="fa fa-flag-checkered fa-4x"></i>
          <h2>Concorsi</h2>
          <p>Vuoi far gareggiare il tuo cavallo? Noi organizziamo concorsi! (Non ho assolutamente idea di cosa scrivere, per il contenuto poi vediamo bene quando finiamo la struttura)</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="fa fa-hotel fa-4x"></i>
          <h2>Hospitality</h2>
          <p>Boh poi se vi va di dormire c'è sempre l'azienda agricola così tra un giorno e un altro non avete sbatta di andare in giro in alberghi con recensioni ambigue.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <!-- SEZIONI -->

      <!-- NEWS -->

      <div class="row featurette">
        <div class="col-md-6 box">
          <h2>News</h2>
          <hr>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="http://lorempixel.com/64/64" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Gara a Vattelappesca: i risultati</h4>
              Si è svolta a Vattelappesca la gara di cavaddi... (leggi)
            </div>
          </div>
          <hr>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="http://lorempixel.com/64/64" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">A Milano piove sempre</h4>
              E' vero, Milano è la città più piovosa dell'universo. A confermarlo sono i dati Istat... (leggi)
            </div>
          </div>
          <hr>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="http://lorempixel.com/64/64" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">I pulcini hanno sempre ragione</h4>
              Secondo la recente scoperta dell'Università di Pio, i pulcini avrebbero un'intelligenza... (leggi)
            </div>
          </div>
          <hr>
          <a class="btn btn-primary">LEGGI TUTTO</a>
        </div>
        <div class="col-md-1"></div>

        <!-- SOCIAL -->

        <div class="col-md-5 box">
          <h2>Social</h2>
          <hr>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <i class="media-object fa fa-youtube-square fa-4x"></i>
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Nome del video</h4>
              Descrizione del video (usare Youtube API)
            </div>
          </div>
          <hr>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <i class="media-object fa fa-facebook-square fa-4x"></i>
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Ultimo post</h4>
              Descrizione testuale del post (usare Facebook e incrociare le dita che si possa)
            </div>
          </div>
          <hr>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <i class="media-object fa fa-instagram fa-4x"></i>
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Titolo immagine?</h4>
              Non ha molto senso, magari meglio twitter
            </div>
          </div>
          <hr>
          <a class="btn btn-primary">LEGGI TUTTO</a>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5 text-right">
          <h2 class="featurette-heading">Siamo qui. <span class="text-muted">Vieni a trovarci.</span></h2>
          <p class="lead">Play Horse Farm
            <br>Via Pupigliano 25
            <br>05020 Alviano (TR)
          </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <iframe width="500" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Playhorse-farm%2C%20Alviano%2C%20TR%2C%20Italia&key=AIzaSyDnK7wIAHodvZ43Ja0Z6KuBvMGlqfH3gCY&zoom=12"></iframe>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-6">
          <h2 class="featurette-heading">Contattaci. <span class="text-muted"></span></h2>
          <p class="lead">Non trovi quello di cui hai bisogno sul sito? Contattaci compilando il form, ti risponderemo appena possibile.</p>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <form>
            <div class="form-group">
              <label for="playhorse-email">* E-mail</label>
              <input type="email" class="form-control" id="playhorse-email" placeholder="La tua email">
            </div>
            <div class="form-group">
              <label for="playhorse-name">* Nome</label>
              <input type="text" class="form-control" id="playhorse-name" placeholder="Il tuo nome">
            </div>
            <div class="form-group">
              <label for="playhorse-message">* Messaggio</label>
              <textarea class="form-control" rows="3" placeholder="Il tuo messaggio"></textarea>
              <p class="help-block">* Campi obbligatori</p>
            </div>
            <button type="submit" class="btn btn-default">Invia</button>
          </form>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

    <footer>
      <div class="container space">
        <p class="pull-right"><a href="#">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-angle-double-up fa-stack-1x"></i>
          </span>
        </a></p>
        <div class="row">
          <div class="col-xs-8">
            <p>&copy; 2015 Play Horse Farm &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            <hr>
            <ul>
              <li>ASD</li>
              <li>SRL</li>
              <li>Contattaci</li>
              <li>Non so</li>
            </ul>
          </div>
          <div class="col-xs-4"></div>
        </div>
      </div>
    </footer>
  </div> <!-- wrapper -->
